@charset "UTF-8";
/* Modified by Joe P Cisneros (JoePC) for Healthcare Finance Direct.
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.home-banner.banner {
  background-image: url(../img/HERO.png);
}
.home-banner img {
  width: 50%;
}

@media (max-width: 991px) {
  .home-banner img {
    width: 20%;
  }
}

#memberships {
  height: 500px;
}

.home-memberships {
  background-color: #203189;
  display: flex;
  flex-wrap: nowrap;
}

.home-memberships_item {
  max-width: 200px;
  max-height: 100px;
}

#services {
  height: 500px;
}

#services .services-list {
  display: flex;
  justify-content: center;
}

#services ul {
  list-style-type: square;
  list-style-position: outside;
}

#services li {
  margin-left: 20px;
}
#services .home-services {
  width: 200px;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/Circular-Bold.woff2") format("woff2"),
    url("../fonts/Circular-Bold.woff") format("woff"),
    url("../fonts/Circular-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("../fonts/Circular-Book.woff2") format("woff2"),
    url("../fonts/Circular-Book.woff") format("woff"),
    url("../fonts/Circular-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("../fonts/Circular-Medium.woff2") format("woff2"),
    url("../fonts/Circular-Medium.woff") format("woff"),
    url("../fonts/Circular-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("../fonts/Circular-MediumItalic.woff2") format("woff2"),
    url("../fonts/Circular-MediumItalic.woff") format("woff"),
    url("../fonts/Circular-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url("../fonts/Circular-BookItalic.woff2") format("woff2"),
    url("../fonts/Circular-BookItalic.woff") format("woff"),
    url("../fonts/Circular-BookItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "AvenirNextMedium";
  src: url("../fonts/AvenirNextLTPro-Medium.ttf") format("truetype"),
    url("../fonts/AvenirNextLTPro-Medium.woff") format("woff"),
    url("../fonts/AvenirNextLTPro-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "AvenirNextDemoBold";
  src: url("../fonts/AvenirNext-DemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Modern Pictogram";
  src: url("../fonts/modernpictogramspro_234.woff") format("woff"),
    url("../fonts/modernpictogramspro_234.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.d-flex,
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.column {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.column-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
@media (min-width: 576px) {
  .column-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .column-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .column-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .column-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .column-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .column-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .column-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .column-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .column-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .column-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .column-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .column-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .column-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .column-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .column-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .column-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .column-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .column-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .column-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .column-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .column-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .column-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .column-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .column-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .column-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .column-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .column-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .column-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .column-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .column-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .column-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .column-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .column-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .column-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .column-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .column-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .column-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .column-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .column-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .column-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .column-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .column-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .column-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .column-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .column-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .column-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .column-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .column-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  .container {
    max-width: 970px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1175px !important;
  }
}
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Circular", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: #737373;
  font-size: 18px;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
}

.sr-animate {
  visibility: hidden;
}
.hidden {
  display: none !important;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  font-family: "Circular", sans-serif;
  font-weight: 700;
  color: #333333;
}
h1,
.h1 {
  font-size: 46px;
  line-height: 1.2;
}
h2,
.h2 {
  font-size: 36px;
  line-height: 1.5;
}
h3,
.h3 {
  font-size: 26px;
  line-height: 1.5;
}
h4,
.h4 {
  font-size: 24px;
  line-height: 1.25;
}
h5,
.h5 {
  font-size: 22px;
  line-height: 1.7;
}
h6,
.h6 {
  font-size: 20px;
  line-height: 1.6;
}

p {
  margin: 0 0 20px 0;
}

img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pos-relative {
  position: relative;
}
.align-items-center {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}
.align-items-end {
  -ms-flex-align: end;
  align-items: flex-end;
}
.justify-content-center {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.justify-content-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.circularBold {
  font-family: "Circular", sans-serif;
  font-weight: 700;
}
.c-white {
  color: #ffffff !important;
}
.c-blue {
  color: #203189;
}
.c-light-blue {
  color: #178eea;
}
.c-dark-blue {
  color: #040741;
}
.c-purple {
  color: #3e3e5a;
}
.c-dark {
  color: #333333;
}
.c-green {
  color: #56ca68;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
@media (min-width: 768px) {
  .text-md-left {
    text-align: left;
  }
}
.bg-white {
  background-color: #ffffff;
}
.bg-blue {
  background-color: #0445d2;
}
.bg-gray-linear {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f9f9fa),
    to(#eeeeee)
  );
  background-image: -webkit-linear-gradient(top, #f9f9fa 0%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f9f9fa 0%, #eeeeee 100%);
  background-image: linear-gradient(180deg, #f9f9fa 0%, #eeeeee 100%);
}
.bg-bottom-linear {
  position: relative;
}
.bg-bottom-linear::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 51px;
  opacity: 0.2;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffffff),
    to(#d8d8d8)
  );
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #d8d8d8 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #d8d8d8 100%);
  background-image: linear-gradient(180deg, #ffffff 0%, #d8d8d8 100%);
  bottom: 0;
}
.graphic-before::before,
.graphic-after::after {
  content: url(../img/Graphic_2.png);
  position: absolute;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.graphic-before::before {
  left: -140px;
}
.graphic-after::after {
  right: -153px;
}
.copy-fs-16 {
  font-size: 16px;
  line-height: 1.8;
}
.collapse {
  display: none;
}
/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section,
.section-2,
.section-3 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.bg-bottom-linear {
  padding-bottom: 90px;
}
.mb-3 {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section-2 {
    padding-top: 150px;
    padding-bottom: 175px;
  }
  .section-3 {
    padding-top: 75px;
    padding-bottom: 100px;
  }
}
/* Column Order
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.order-1 {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}
.order-2 {
  -ms-flex-order: 2;
  -webkit-box-ordinal-group: 3;
  order: 2;
}
@media (min-width: 768px) {
  .order-md-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
  .order-md-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
    order: 2;
  }
}
@media (min-width: 992px) {
  .order-lg-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
  .order-lg-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
    order: 2;
  }
}
/* Buttons Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.btn,
.hs-form .hs-button {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#178eea),
    to(#0445d2)
  );
  background-image: -webkit-linear-gradient(top, #178eea 0%, #0445d2 100%);
  background-image: -o-linear-gradient(top, #178eea 0%, #0445d2 100%);
  background-image: linear-gradient(180deg, #178eea 0%, #0445d2 100%);
  border-radius: 5px;
  color: #ffffff;
  font-family: "AvenirNextMedium", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 1.4;
  padding: 15px 25px;
  min-width: 240px;
  text-align: center;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
.btn:hover,
.hs-form .hs-button:hover {
  background: #0445d2;
}
.btn-white {
  background: #ffffff;
  color: #178eea;
  -webkit-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.12);
}
.btn-white-c-darkblue {
  color: #203189;
}
.btn-white:hover {
  background: #178eea;
  color: #ffffff;
}
.btn-green {
  background-image: -webkit-linear-gradient(
    89deg,
    #28833f 0%,
    #3fc257 58%,
    #56ca68 100%
  );
  background-image: -o-linear-gradient(
    89deg,
    #28833f 0%,
    #3fc257 58%,
    #56ca68 100%
  );
  background-image: linear-gradient(
    1deg,
    #28833f 0%,
    #3fc257 58%,
    #56ca68 100%
  );
}
.btn-green:hover {
  background: #28833f;
}
.btn-dark-green {
  background-image: linear-gradient(0deg, #00833e 0%, #00b189 100%);
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
.btn-dark-green:hover {
  background: #00833e;
}
/* Banner Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.banner {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}
.banner.inner-banner {
  /* padding: 135px 0 100px; */
}
.banner_copy {
  font-size: 17px;
  line-height: 2.1;
  font-family: "Circular", sans-serif;
  font-weight: 400;
}
.banner h1,
.banner_cta h3 {
  color: #ffffff;
}
.banner_cta {
  margin-top: 40px;
}
.banner.inner-banner .banner-image {
  margin-bottom: 30px;
}
.banner_top_heading {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.94px;
  font-size: 16px;
  line-height: 2.25;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .banner.inner-banner .banner-image.px {
    padding: 0 80px;
  }
}
@media (min-width: 992px) {
  .banner.inner-banner .banner-image {
    margin-bottom: 0;
  }
  .banner_copy {
    max-width: 470px;
  }
  .banner_copy.width-auto {
    max-width: none;
  }
}
/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header#masthead {
  padding: 25px 0;
  position: absolute;
  width: 100%;
}
header#masthead .main-nav-container {
  background: #ffffff;
  z-index: 999999;
  display: none;
}
.mobile-open header#masthead .main-nav-container {
  display: block;
}
header#masthead .main-nav {
  padding: 20px 0;
}
header#masthead .main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Circular", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
}
header#masthead .main-nav ul li {
  padding: 10px 0;
}
header#masthead .main-nav ul li a,
header#masthead .main-nav .nav-button {
  color: #178eea;
  text-decoration: none;
  display: inline-block;
}
header#masthead .menu-cta.dropdown {
  position: relative;
}
/* header#masthead .menu-cta.dropdown > ul{
  background: #178EEA;
} */
header#masthead .menu-cta.dropdown > ul li {
  padding: 0;
  width: 100%;

  border-radius: 4px;
  background: #178eea;
}
header#masthead .menu-cta.dropdown > ul li + li {
  border-top: 1px solid #ffffff;
}
header#masthead .menu-cta.dropdown > ul li a {
  color: #ffffff;
  display: block;
  padding: 10px 15px;
}
header#masthead .main-nav ul li.menu-cta > a,
header#masthead .main-nav .nav-button {
  padding: 7px 30px 7px 20px;
  border: 2px solid #178eea;
  border-radius: 4px;
  background-image: url(../img/arrow-down-blue.png);
  background-repeat: no-repeat;
  background-position: 80% center;
  width: 100%;
  text-align: center;
}
.mobile-toggler {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
}
.mobile-toggler-icon {
  position: relative;
  width: 22px;
  height: 22px;
}
.mobile-toggler span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#masthead.masthead--white .mobile-toggler span {
  background: #333333;
}
.mobile-toggler-icon span:nth-child(1),
.mobile-toggler-icon span:nth-child(2) {
  top: 0px;
}
.mobile-toggler-icon span:nth-child(3),
.mobile-toggler-icon span:nth-child(4) {
  top: 6px;
}
.mobile-toggler-icon span:nth-child(5),
.mobile-toggler-icon span:nth-child(6) {
  top: 13px;
}
.mobile-open .mobile-toggler-icon span:nth-child(3) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mobile-open .mobile-toggler-icon span:nth-child(4) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mobile-open .mobile-toggler-icon span:nth-child(1),
.mobile-open .mobile-toggler-icon span:nth-child(2),
.mobile-open .mobile-toggler-icon span:nth-child(5),
.mobile-open .mobile-toggler-icon span:nth-child(6) {
  display: none;
}
#masthead.masthead--white {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

#masthead .logo {
  max-width: 150px;
}

@media screen and (min-width: 992px) {
  header#masthead .menu-cta.dropdown > ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    text-align: center;
    min-width: 165px;
    border-radius: 5px;
    margin-top: 27px;
    padding: 10px 0;
  }
  header#masthead .menu-cta.dropdown > ul::before {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
    position: absolute;
    top: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #masthead.masthead--white .menu-cta.dropdown > ul {
    border: 1px solid #333;
  }
  #masthead.masthead--white .menu-cta.dropdown > ul::before {
    content: url(../img/Rectangle.png);
    width: auto;
    height: auto;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  header#masthead .main-nav ul li a,
  header#masthead .main-nav .nav-button {
    color: #ffffff;
    cursor: pointer;
  }
  header#masthead .main-nav .nav-button {
    border: 2px solid #ffffff;
    background-image: url(../img/arrow-down-white.png);
    width: auto;
  }
  #masthead.masthead--white .main-nav .nav-button {
    border: 2px solid #333;
    background-image: url(../img/arrow-down-dark.png);
  }
  #masthead.masthead--white .main-nav ul li a,
  #masthead.masthead--white .main-nav .nav-button {
    color: #333333;
  }
  header#masthead .menu-cta.dropdown > ul li {
    padding: 10px 15px;
    border-radius: 0;
    background: #ffffff;
  }
  header#masthead .menu-cta.dropdown > ul li a {
    color: #203189;
    display: inline-block;
    padding: 0;
  }
  header#masthead .menu-cta.dropdown > ul li a:hover {
    color: #178eea;
  }
  header#masthead .main-nav {
    padding: 0;
  }
  header#masthead .main-nav-container {
    background: transparent;
    display: block;
  }
  header#masthead .main-nav ul {
    text-align: right;
  }
  header#masthead .main-nav ul li {
    display: inline-block;
    padding: 0 15px;
  }
  .mobile-toggler {
    display: none;
  }
  .chat-btn a {
    padding: 7px 20px 7px 40px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background-image: url(../img/chat-icon-copy.png);
    background-repeat: no-repeat;
    background-position: 15% center;
  }
  #masthead.masthead--white .chat-btn a {
    border-color: #333333;
    background-image: url(../img/chat-icon-dark.png);
  }
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  background: #040741;
  color: #d8d8d8;
  padding: 65px 0 35px;
}
.footer-logo {
  max-width: 204px;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-copy {
  max-width: 262px;
  margin-top: 30px;
}
footer .footer-copy a {
  text-decoration: underline;
  color: #ffffff;
}
footer .footer-copy a,
footer .footer-menu ul > li:first-child a {
  font-family: "Circular", sans-serif;
  font-weight: 700;
}
footer ul li a {
  text-decoration: none;
  color: #d8d8d8;
}
footer .footer-menu ul > li:first-child a {
  color: #ffffff;
}
footer .footer-menu ul > li + li {
  margin-top: 10px;
}
footer .footer-menu .footer-menu_column {
  margin-bottom: 30px;
}
footer .footer-menu {
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0.21px;
}
footer .footer-bottom {
  font-size: 13px;
  letter-spacing: 0.18px;
  line-height: 2.7;
  padding-top: 20px;
  border-top: 1px solid #585858;
  margin-top: 85px;
}
footer .footer-bottom ul > li {
  display: inline-block;
  padding: 0 10px;
  position: relative;
}
footer .footer-bottom ul > li + li:before {
  content: "|";
  position: absolute;
  left: -3px;
}
@media (min-width: 768px) {
  footer .footer-menu .footer-menu_column {
    margin-bottom: 0;
  }
  footer .footer-menu .footer-menu_column + .footer-menu_column {
    margin-top: 30px;
  }
}

/* Custom Slick
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.slick-arrow.custom-slick-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  background: transparent;
}
.slick-disabled.custom-slick-btn {
  opacity: 0.5;
}
.slick-next.custom-slick-btn {
  right: 25px;
}
.slick-prev.custom-slick-btn {
  left: 25px;
}
.slick-slide {
  outline: none;
}
.slick-dots {
  list-style: none;
}
.slick-dots li {
  display: inline-block;
}
.slick-dots li + li {
  padding-left: 10px;
}
.slick-dots li button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: -999999px;
  height: 11px;
  width: 11px;
  border: 0;
  border-radius: 50%;
  background: #178eea;
  opacity: 0.26;
  outline: none;
}
.slick-dots li.slick-active button {
  opacity: 1;
}
/* Image and Text Switchable
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image-text-switchable_number {
  height: 50px;
  width: 50px;
  background: #0445d2;
  border-radius: 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  color: #ffffff;
  margin-right: 12px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}
.image-text-switchable_text b,
.image-text-switchable_text strong {
  color: #3e3e5a;
}
.image-text-switchable_copy {
  font-size: 16px;
  line-height: 1.8;
}
.image-text-switchable_heading h2 {
  font-size: 30px;
  line-height: 1.3;
}
.image-text-switchable_item + .image-text-switchable_item {
  margin-top: 40px;
}
.image-text-switchable_topsubheading {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.6;
}
.image-text-switchable_text ul,
.check-list ul {
  list-style: none;
}
.image-text-switchable_text ul li,
.check-list ul li {
  padding-left: 35px;
  position: relative;
  margin-bottom: 25px;
}
.image-text-switchable_text ul li::before,
.check-list li::before {
  content: "%";
  font-family: "Modern Pictogram";
  color: #56ca68;
  font-size: 26px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1.2;
}
.image-text-switchable_text h6 {
  font-size: 18px;
  line-height: 1.6;
  color: #3e3e5a;
}
@media (min-width: 768px) {
  .image-text-switchable_img {
    padding: 0 35px;
  }
  .image-text-switchable_item + .image-text-switchable_item {
    margin-top: 85px;
  }
}
.check-list ul li {
  margin-bottom: 0;
}
/* Testimonial Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.testimonials-slider {
  margin: 0 -35px;
}
.testimonials-item {
  padding: 0 35px;
}
.testimonials-slider .testimonials-item_inner {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  position: relative;
}
.testimonials-texts-slider {
  width: 100%;
  margin: 40px 0;
}
.testimonials-texts-slider .slick-dots {
  text-align: center;
}
.testimonials-texts-slider_item {
  padding: 40px 35px 20px;
  border-top: 1px solid #eff4fb;
  position: relative;
}
.testimonials-slider .testimonials-text {
  width: 100%;
  position: relative;
  z-index: 1;
}
.testimonials-texts-slider_item::before,
.testimonials-texts-slider_item::after {
  content: "";
  background-image: url(../img/quote-icon-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 25px;
  position: absolute;
  top: 40px;
}
.testimonials-texts-slider_item::before {
  left: 0;
}
.testimonials-texts-slider_item::after {
  right: 0;
  transform: rotate(180deg);
}
.testimonials-copy {
  font-family: "Circular", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.testimonials-name {
  font-size: 15px;
  line-height: 1.6;
}
.testimonials-name > span {
  font-size: 17px;
  line-height: 1.5;
  display: block;
  font-family: "Circular", sans-serif;
  font-weight: 700;
}
.testimonials-icon {
  max-width: 130px;
  margin: 0 auto 30px;
}
.testimonials-texts-slider_item .testimonials-icon.simple-icon img {
  max-width: 72px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .testimonials-slider .testimonials-text {
    max-width: 66.666666667%;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials-texts-slider_item {
    padding-top: 60px;
  }
  .testimonials-texts-slider_item::before,
  .testimonials-texts-slider_item::after {
    top: 60px;
    width: 64px;
    height: 54px;
  }
}
/* 3 Column Testimonials
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.testimonials-3-col__item {
  background: #ffffff;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  padding: 65px 40px;
  margin-bottom: 110px;
}
.testimonials-3-col__item .testimonials-icon {
  margin: -120px auto 30px;
}
.testimonials-3-col__item .testimonials-icon.simple-icon {
  text-align: center;
  width: 125px;
  height: 125px;
  background: #ffffff;
  border-radius: 50%;
  padding: 25px;
  position: relative;
}
.testimonials-3-col__item .testimonials-icon.simple-icon::after {
  content: "";
  background: #ffffff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
.testimonials-3-col__inner {
  padding-top: 140px;
  border-top: 2px solid #eff4fb;
  position: relative;
}
.testimonials-3-col__inner::before,
.testimonials-3-col__inner::after {
  content: url(../img/Graphic_2.png);
  position: absolute;
  z-index: -1;
}
.testimonials-3-col__inner::before {
  top: 40%;
  left: -180px;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.testimonials-3-col__inner::after {
  top: auto;
  right: -230px;
  bottom: 55px;
}
/* Content Offer and CTA Banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content-offer_content {
  padding-top: 55px;
}
.content-offer_text {
  padding-bottom: 55px;
  margin-top: 20px;
}
.content-offer_text h2,
.cta-banner_heading h2 {
  font-size: 44px;
  line-height: 1.2;
}
.cta-banner_cta-container {
  margin-top: 40px;
}
.cta-banner_cta.column {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .content-offer_text {
    margin-top: 0px;
  }
  .cta-banner_cta.column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 38%;
    flex: 0 0 38%;
    max-width: 38%;
    margin-bottom: 0;
  }
  .cta-banner_cta.column .btn {
    width: 100%;
  }
  .cta-banner {
    padding-top: 100px;
    padding-bottom: 135px;
  }
}
@media (min-width: 1200px) {
  .cta-banner_cta.column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
    max-width: 31%;
  }
}
/* Homepage Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.home-banner.banner {
  background-size: cover;
  padding: 120px 0;
}
.home-banner .container {
  position: relative;
}
.home-banner .banner_image {
  max-width: 100%;
}

.home-memberships {
  margin-top: 45px;
}
body.page-template-home-template .image-text-container {
  position: relative;
  padding-top: 60px;
}
body.page-template-home-template .image-text-container::before {
  content: url(../img/Graphic_2.png);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
body.page-template-home-template .practices-patients {
  padding-bottom: 0;
  position: relative;
}
.home-practices_slider {
  margin: 0 -50px;
  overflow: hidden;
}
.home-practices_slider .slick-list {
  padding: 50px 50px;
  overflow: visible;
}
.home-practices_slider .slick-dots {
  margin: 0 50px 30px;
  text-align: center;
}
.home-practices_item {
  padding: 0 15px;
  opacity: 0.5;
}
.home-practices_item.slick-active {
  opacity: 1;
}
.home-practices_item-content {
  padding: 55px 35px;
}
.home-practices_item.slick-active .home-practices_item-content {
  background: #ffffff;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
}
.home-practices_item-content p {
  font-size: 16px;
  line-height: 1.6;
}
.home-practices_item-content h6 {
  margin-bottom: 5px;
}
.home-practices_item-content img {
  display: inline-block;
  margin-bottom: 45px;
}
.calculator-form .hs_submit {
  text-align: center;
}
.page-template-home-template .calculator-form-container {
  padding-top: 40px;
}
.home-memberships_item {
  margin-bottom: 30px;
  padding: 0 25px;
}
.page-template-home-template .testimonials-container {
  padding-top: 50px;
}
.page-template-home-template .image-text-switchable_text {
  font-size: 18px;
  line-height: 1.7;
}
.page-template-home-template .image-text-switchable_item {
  margin-top: 0;
}
.page-template-home-template .content-offer_text {
  max-width: 433px;
}
@media (min-width: 992px) {
  body.page-template-home-template #lottie {
    width: 85%;
    right: -240px;
    top: -140px;
    position: absolute;
  }
  .home-banner.banner {
    padding: 120px 0 310px;
  }
  .home-banner.banner {
    background-size: 100% 100%;
  }
  .home-practices_slider {
    margin-right: -100%;
    padding-right: 100%;
  }
  .home-practices_slider .slick-next.custom-slick-btn {
    right: 49%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .home-memberships-container {
    margin-top: -30px;
  }
}
@media (min-width: 1200px) {
  .home-banner.banner {
    padding: 120px 0 410px;
  }
}
/* Why HFD Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-template-why-template .section.image-text-container::before {
  top: 25%;
}
.page-template-why-template .section.image-text-container::after {
  right: -153px;
  top: 69%;
}
@media (min-width: 1200px) {
  .page-template-why-template .section.image-text-container {
    padding-top: 140px;
    padding-bottom: 135px;
  }
}
/* Who We Help Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.statistics-bar {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}
.page-template-who-we-help-template .search-better-way .image-text-switchable {
  margin-top: 50px;
}
.page-template-who-we-help-template .search-better-way::before {
  top: 45%;
}
.page-template-who-we-help-template .graphic-after::after {
  top: 53%;
}
@media (min-width: 992px) {
  .page-template-who-we-help-template
    .search-better-way
    .image-text-switchable {
    margin-top: 110px;
  }
}
/* How it works Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-template-how-it-works-template
  .image-text-container.graphic-before::before {
  top: 28%;
}
.page-template-how-it-works-template
  .image-text-container.graphic-before::after {
  bottom: 10%;
}
@media (min-width: 992px) {
  .page-template-how-it-works-template .image-text-container {
    padding-top: 140px;
  }
}
/* Contact Us Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact-banner--inner {
  text-align: center;
  color: #fff;
  padding: 190px 0;
}
.contact-banner--inner h1 {
  color: #fff;
}
.contact-banner--desc {
  font-size: 20px;
  line-height: 1.5;
  width: 850px;
  max-width: 100%;
  margin: 0 auto;
}
.contact-form--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  margin-top: -100px;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
}
.contact-form--left h4,
.contact-form--right h4 {
  color: #203189;
  margin-bottom: 30px;
}
.contact-form--left {
  width: 60%;
  padding: 55px 70px;
}
.contact-form--left br {
  display: none;
}
.contact-form--left .form .hs-form-required {
  display: none;
}
.contact-form--left .form fieldset .field {
  position: relative;
}
.contact-form--left .hs_recaptcha {
  float: right;
  width: 47%;
}
.contact-form--left .hs_submit {
  display: inline-block;
  width: 47%;
}
.contact-form--left .hs_submit .actions {
  margin-top: 0;
}
.contact-form--right {
  width: 40%;
  background-color: #e5f4ff;
  padding: 55px 50px;
}
.contact-form--right ul {
  list-style-type: none;
  font-size: 16px;
}
.contact-form--right ul li {
  position: relative;
  padding-left: 45px;
  color: #3e3e5a;
}
.contact-form--right ul li a {
  color: #3e3e5a;
}
.contact-form--right ul li a:hover {
  text-decoration: underline;
}
.contact-form--right ul li img {
  position: absolute;
  left: 0;
  top: 4px;
}
.cta_section--inner {
  padding: 50px 0;
  text-align: center;
}
.cta_section--text {
  color: #fff;
  font-size: 38px;
  line-height: 1;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  padding: 20px 20px;
}
.cta_section--btn.btn {
  border: 2px solid transparent;
  color: #226232;
  display: inline-block;
  vertical-align: middle;
}
.cta_section--btn.btn:hover {
  color: #fff;
  border-color: #fff;
  background: none;
}
@media all and (max-width: 1200px) {
  .contact-form--right {
    padding: 50px 20px;
  }
  .contact-form--left .hs_recaptcha {
    float: none;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 980px) {
  .contact-form--left,
  .contact-form--right {
    width: 100%;
    padding: 50px 30px;
  }
}
@media all and (max-width: 480px) {
  .contact-form--left .form fieldset.form-columns-2 .hs-form-field {
    width: 100%;
    margin-top: 20px;
  }
  .contact-form--right ul {
    font-size: 14px;
  }
}
/* About Us
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.aboutus-intro__copy h5 {
  font-size: 18px;
  line-height: 1.6;
}
.aboutus-values.section {
  padding-bottom: 50px;
}
.aboutus-values__list {
  margin-top: 60px;
}
.aboutus-value__img,
.aboutus-value__item {
  margin-bottom: 30px;
}
/* Pricing Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-template-pricing-template .banner.inner-banner {
  padding-bottom: 200px;
}
.page-template-pricing-template .package-item__details {
  padding: 35px 50px 55px;
}
.page-template-pricing-template .package-item__cta {
  padding: 35px 50px;
  border-top: 1px solid #dddddd;
}
.page-template-pricing-template .package-item__title h2 {
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 10px;
}
.page-template-pricing-template .package-item__details ul li {
  font-size: 16px;
  color: #3e3e5a;
  line-height: 1.8;
  margin-bottom: 0;
}
.package-item__inner,
.offer-item__inner,
.detail-item {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
}
.pricing-packages {
  padding-top: 0;
  margin-top: -100px;
}
.pricing-features {
  padding: 50px 0 0;
}
.feature-item__title {
  font-weight: 700;
  margin-bottom: 10px;
}
.feature-item__img {
  margin-bottom: 35px;
}
.pricing-features__cta {
  margin-top: 25px;
}
.pricing-offers {
  padding-bottom: 0;
}
.pricing-offers.graphic-before::before {
  top: 25%;
}
.pricing-offers.graphic-after::after {
  bottom: -35%;
}
.offer-item__inner {
  padding: 50px 35px;
}
.offer-item__inner h6 {
  margin-bottom: 5px;
}
.offer-item__img,
.detail-item {
  margin-bottom: 20px;
}
.detail-item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.detail-item__description,
.detail-item__rateContainer > div {
  padding: 0 15px;
}
.detail-item__description h6 {
  margin-bottom: 10px;
}
.detail-item__rate {
  font-size: 40px;
  line-height: 1;
}
.detail-item__optional {
  font-weight: 400;
}
@media (min-width: 576px) {
  .detail-item__rateContainer {
    border-left: 1px solid #dddddd;
  }
}
@media (min-width: 992px) {
  .detail-item__description {
    padding: 0 40px;
  }
}
/* Testimonials Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-template-testimonials-template .banner h1 {
  font-size: 49px;
  max-width: 540px;
}
.page-template-testimonials-template .banner_copy {
  font-size: 20px;
  line-height: 1.8;
  max-width: 555px;
}
.page-template-testimonials-template .testimonials-texts-slider_item {
  border: none;
}
@media (min-width: 768px) {
  .page-template-testimonials-template .testimonials-texts-slider_item::before {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .page-template-testimonials-template .testimonials-texts-slider_item::after {
    -webkit-transform: rotate(180deg) translateY(-50%);
    -ms-transform: rotate(180deg) translateY(-50%);
    transform: rotate(180deg) translateY(-50%);
    top: 40%;
  }
}

span#hs-cta-wrapper-188224be-71db-4f0c-98eb-77c32330b2bb,
span#hs-cta-wrapper-188224be-71db-4f0c-98eb-77c32330b2bb a,
span#hs-cta-wrapper-188224be-71db-4f0c-98eb-77c32330b2bb span {
  display: inherit !important;
}

.home h2.h1.c-blue {
  margin-top: 40px;
}
